<header class="header l-pad-10">
    <div layout="row">
        <div flex>
            <div layout="row">
                <md-button ng-click="vm.toggleSideBar('left')" class="button-font-icon" aria-label="Left Sidebar"
                           hide-gt-md>
                    <md-icon md-font-icon="fa fa-bars fa-2x "></md-icon>
                </md-button>
                <h1 class="text-caption" translate="load.partial.arts.about.setupandinstall">Setup &amp; Install</h1>
            </div>
            <h2 class="text-caption">angular-require-typescript-seed</h2>
        </div>
        <div>
            <md-list>

                <md-item>
                    <md-button class="md-primary md-raised md-fab" aria-label="Refresh">
                        <md-icon md-font-icon="fa fa-refresh fa-2x"></md-icon>
                        <md-tooltip md-direction="left" md-autohide="true">
                            <span translate="load.partial.arts.about.setupandinstall">Refresh</span>
                        </md-tooltip>
                    </md-button>
                </md-item>

            </md-list>
        </div>
    </div>
</header>


<section layout="row">

    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar>
            <h1 class="md-toolbar-tools" translate="load.partial.arts.about.setupandinstall">Setup &amp; Install</h1>
        </md-toolbar>

        <md-content>

            <md-list>

                <md-item>
                    <a href="#setup/setup" class="sidebar-link md-primary" md-button>
                        <span>Action One</span>
                    </a>
                </md-item>

                <md-item>
                    <a href="#setup/setup" class="sidebar-link md-primary" md-button>
                        <span>Action One</span>
                    </a>
                </md-item>

            </md-list>

        </md-content>

    </md-sidenav>

    <md-content class="md-padding" layout="row" flex>

    </md-content>

</section>