<md-bottom-sheet class="md-grid bottom-sheet">
    <md-list>
        <md-item>
            <md-button ng-click="vm.switchToTabFromBottomSheet(0)">
                <md-icon md-font-icon="fa fa-download fa-2x"></md-icon>
                <div class="bottom-sheet-text">
                    <span translate="load.partial.arts.about.setup">Setup</span>
                </div>
            </md-button>
        </md-item>
        <md-item>
            <md-button ng-click="vm.switchToTabFromBottomSheet(1)">
                <md-icon md-font-icon="fa fa-gears fa-2x"></md-icon>
                <div class="bottom-sheet-text">
                    <span translate="load.partial.arts.about.installation">Installation</span>
                </div>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>