$bg-color: #2196f3;
$fg-color: #fff;

body {
  font-family: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-size: 14px;
}

.mobile-trigger {
  display: none;
}

.header {
  position: relative;
  height: 103px;
  background: $bg-color;

  h1, h2, .button-font-icon {
    color: $fg-color;
    opacity: .75;
  }

  h2 {
    font-size: 16px;
    font-weight: 100;
    margin: -20px 0px 0px;
  }

  .button-font-icon {
    margin-top: -5px;
    margin-right: 5px;
  }
}

body[md-theme="green"] {
  .header, .footer {
    background: darkgreen;
  }
}

body[md-theme="blue"] {
  .header, .footer {
    background: $bg-color;
  }
}

@media handheld and (max-width: 400px), screen and (max-device-width: 400px), screen and (max-width: 800px) {
  .header, .footer {
    font-size: .7em;
    height: auto;
  }
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
  .mobile-trigger {
    display: inline-block;
  }
}
.footer {
  background: $bg-color;
  text-align: center;
  padding: 16px;
  color: $fg-color;

  small {
    opacity: .55;
  }

  a {
    color: $fg-color;
    text-decoration: none;
    opacity: .55;
  }

  a:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

.l-pad-10 {
  padding: 10px;
}

.l-mar-1 {
  margin: 1em 1em;
}

.sidebar-link {
  display: block;
  padding: 16px;
}

.language-text {
  padding-left: 16px;
}

md-sidenav .md-button.md-default-theme {
  border-radius: 0;
}
